
  body {
/* Gradient background */
    font-family: 'Roboto', sans-serif; /* Google Font */
}
.outer-border {
    width: 800px;
    height: 650px;
    padding: 20px;
    text-align: center;
    border: 10px solid #663ab7; /* Purple border */
    border-radius: 20px; /* Rounded corners */

    background-color: #fff; /* White background */

}
.inner-dotted-border {
    width: 750px;
    height: 600px;
    padding: 20px;
    text-align: center;
    border: 5px dotted #663ab7; /* Dotted purple border */
    background-color: #f0f0f0; /* Light gray background */
}



