aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiomysql==0.3.2
aiosignal==1.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
async-timeout==5.0.1
asyncio==4.0.0
attrs==25.4.0
bitarray==3.8.0
brotli==1.2.0
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
ckzg==2.1.5
click==8.3.1
cssselect2==0.8.0
cytoolz==1.1.0
eth-account==0.13.7
eth-hash==0.7.1
eth-keyfile==0.8.1
eth-keys==0.7.0
eth-rlp==2.2.0
eth-typing==5.2.1
eth-utils==5.3.1
eth_abi==5.2.0
exceptiongroup==1.3.1
fastapi==0.128.0
fonttools==4.61.1
frozenlist==1.8.0
h11==0.16.0
hexbytes==1.3.1
html5lib==1.1
httptools==0.7.1
idna==3.11
Jinja2==3.1.6
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
lru-dict==1.4.1
MarkupSafe==3.0.3
multidict==6.7.1
parsimonious==0.10.0
pillow==12.1.0
propcache==0.4.1
protobuf==6.33.4
pycparser==3.0
pycryptodome==3.23.0
pydantic==2.12.5
pydantic_core==2.41.5
pydyf==0.12.1
PyMySQL==1.1.2
pyphen==0.17.2
python-dotenv==1.2.1
pyunormalize==17.0.0
PyYAML==6.0.3
referencing==0.37.0
regex==2026.1.15
requests==2.32.5
rlp==4.1.0
rpds-py==0.30.0
six==1.17.0
sniffio==1.3.1
starlette==0.50.0
tinycss2==1.5.1
tinyhtml5==2.0.0
toolz==1.1.0
tqdm==4.67.1
types-requests==2.32.4.20260107
typing==3.7.4.3
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
uvicorn==0.40.0
uvloop==0.22.1
watchfiles==1.1.1
weasyprint==68.0
web3==7.14.0
webencodings==0.5.1
websockets==15.0.1
yarl==1.22.0
zopfli==0.4.0
